/* Coolors Exported Palette - https://coolors.co/edd2e0-fffd98-7bdff2-9ad1d4-6aa07b */

/* CSS */
--queen-pink: hsla(329, 11%, 93%, 1);
--canary: hsla(59, 40%, 100%, 1);
--sky-blue-crayola: hsla(190, 49%, 95%, 1);
--powder-blue: hsla(183, 27%, 83%, 1);
--shiny-shamrock: hsla(139, 34%, 63%, 1);

/* SCSS HEX */
$queen-pink: #edd2e0ff;
$canary: #fffd98ff;
$sky-blue-crayola: #7bdff2ff;
$powder-blue: #9ad1d4ff;
$shiny-shamrock: #6aa07bff;

/* SCSS HSL */
$queen-pink: hsla(329, 11%, 93%, 1);
$canary: hsla(59, 40%, 100%, 1);
$sky-blue-crayola: hsla(190, 49%, 95%, 1);
$powder-blue: hsla(183, 27%, 83%, 1);
$shiny-shamrock: hsla(139, 34%, 63%, 1);

/* SCSS RGB */
$queen-pink: rgba(237, 210, 224, 1);
$canary: rgba(255, 253, 152, 1);
$sky-blue-crayola: rgba(123, 223, 242, 1);
$powder-blue: rgba(154, 209, 212, 1);
$shiny-shamrock: rgba(106, 160, 123, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #edd2e0ff, #fffd98ff, #7bdff2ff, #9ad1d4ff, #6aa07bff);
$gradient-right: linear-gradient(90deg, #edd2e0ff, #fffd98ff, #7bdff2ff, #9ad1d4ff, #6aa07bff);
$gradient-bottom: linear-gradient(180deg, #edd2e0ff, #fffd98ff, #7bdff2ff, #9ad1d4ff, #6aa07bff);
$gradient-left: linear-gradient(270deg, #edd2e0ff, #fffd98ff, #7bdff2ff, #9ad1d4ff, #6aa07bff);
$gradient-top-right: linear-gradient(45deg, #edd2e0ff, #fffd98ff, #7bdff2ff, #9ad1d4ff, #6aa07bff);
$gradient-bottom-right: linear-gradient(135deg, #edd2e0ff, #fffd98ff, #7bdff2ff, #9ad1d4ff, #6aa07bff);
$gradient-top-left: linear-gradient(225deg, #edd2e0ff, #fffd98ff, #7bdff2ff, #9ad1d4ff, #6aa07bff);
$gradient-bottom-left: linear-gradient(315deg, #edd2e0ff, #fffd98ff, #7bdff2ff, #9ad1d4ff, #6aa07bff);
$gradient-radial: radial-gradient(#edd2e0ff, #fffd98ff, #7bdff2ff, #9ad1d4ff, #6aa07bff);