body{
    background-color: white;
  }

#all{
    margin left: 50px;
}

#modalComment{
    border-radius: 5px;
}

.singleblog{
    background-color: rgba(255, 255, 255, 0.924);
    color: blue;
}

.reg {
    padding: 20px;
}

.account-img {
    height: 250px;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

#profbutton,#ref,#subs{
    border-radius: 5px;
}

#submit{
     background-color: blue;
     border-radius: 5px;
}

.cardquote{
     background-color:rgba(116, 116, 116, 0.486);
     padding: 3%;
}

#form,#profileupdate{
     display: none;
}

.landing{
     margin-top: 2%;

}

.blog-img{
    height: 80px;
    width: 80px;
    margin-bottom: 16px;
}

#usern{
      margin-left: 20px;
}