{% extends 'base.html'%}

{% block content %}

<div class="container">
    <h1 class="text-center"> Welcome to Your New Blog</h1>

        <div class="col-md-9">
            {% for blog in blogs %}
                <hr>


            <div class="row">
<!--                Blog Title-->
                <div class="col-md-6">
                    <p>Title: {{blog.title}}</p>

<!--                    Blog Content-->
                    <p>{{blog.content}}</p>
                    <p>Posted: {{blog.posted.strftime('%d-%m-%Y')}}</p>
                </div>

                <div class="col-md-6">
                    <form class="form-inline">
                        <div class="md-form form-group">
<!--                            Blog Comments-->
                            <label for="form92">Type your comment</label>
                            <input type="text"  class="form-control">
                        </div>
                        <div class="md-form form-group">
                            <button class="btn btn-sm btn-outline-info">Comment</button>
                        </div>
                    </form>
                </div>

                    <hr>
                {% endfor %}
            </div>

            <div class="col-md-3">
                <p>{{quote.author}}</p>
                <p>{{quote.quote}}</p>
            </div>
        </div>
</div>
{% endblock %}